@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Roboto', sans-serif;
}

/* Barre de recherche */

.input-box {
    position: relative;
}

.input-box img {
    position: absolute;
    right: 13px;
    top: 24%;
    color: #000;
}

.input-box .form-control {
    height: 69px;
    background-color: #E7E7E7;
}

.input-box .form-control:hover,
.input-box .form-control:focus {
    -webkit-box-shadow: 0px 0px 20px 3px rgba(237, 99, 84, 0.9);
    -moz-box-shadow: 0px 0px 20px 3px rgba(237, 99, 84, 0.9);
    box-shadow: 0px 0px 20px 3px rgba(237, 99, 84, 0.9);
    border-color: #ED6454;
    background-color: #E7E7E7;
}

/* Adaptation de la taille de l'icone de recherche en petit écran */

@media (width <=600px) {
    .input-box img {
        height: 25px;
        width: 25px;
        top: 32%;
    }
}

/* Style des cards de recettes */

.ingredients-list {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
}

.recipe-description {
    font-size: 12px;
}

.card-title {
    font-size: 1rem;
}

#time-value {
    font-size: 1rem;
}

.card-body {
    background-color: #E7E7E7;
    height: 186px;
}

.card-img-top {
    object-fit: cover;
}

.recipe-description,
.ingredients-list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
}

/* Style du texte d'avertissement si aucune recette disponible */

#no-recipe {
    color: #ED6454;
}

/* Style des filtres collapse */

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    margin-right: 25px;
    cursor: pointer;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:active,
.accordion-button:not(.collapsed) {
    border-color: none;
    box-shadow: none;
}

#headingOne,
#collapseOne {
    color: #FFFFFF;
    background-color: #3282F7;
}

#headingOne .filter_button {
    color: #FFFFFF;
    background-color: #3282F7;
}

#headingTwo,
#collapseTwo {
    color: #FFFFFF;
    background-color: #68D9A4;
}

#headingTwo .filter_button {
    color: #FFFFFF;
    background-color: #68D9A4;
}

#headingThree,
#collapseThree {
    color: #FFFFFF;
    background-color: #ED6454;
}

#headingThree .filter_button {
    color: #FFFFFF;
    background-color: #ED6454;
}

#headingOne,
#headingTwo,
#headingThree,
.collapsed {
    border-radius: 5px;
}

.accordion-button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
}

.accordion-button .form-control,
.accordion-button .form-control:hover,
.accordion-button .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    height: 69px;
}

.accordion-button .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1;
    /* Firefox */
}

.show {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordion-item {
    border: none;
}

/* Style des listes d'éléments présents dans les filtres */

.accordion-body ul {
    list-style-type: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding-left: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
}

/* Style des tags */

.tag {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    height: 37px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 20px 15px 0;
    padding: 20px;
    opacity: 1;
}

.tag-close {
    margin-left: 13px;
    margin-right: 13px;
}

.tag-ingredients {
    background-color: #3282F7;
}

.tag-ingredients:hover, .tag-ingredient:focus {
    box-shadow: 0px 0px 20px 3px rgba(50, 130, 247, 0.9);
}

.tag-appliances {
    background-color: #68D9A4;
}

.tag-appliances:hover, .tag-appliance:focus {
    box-shadow: 0px 0px 20px 3px rgba(104, 217, 164, 0.9);
}

.tag-ustensils {
    background-color: #ED6454;
}

.tag-ustensils:hover, .tag-ustensil:focus {
    box-shadow: 0px 0px 20px 3px rgba(237, 99, 84, 0.9);
}
